.custom-modal-body {
  border-top: 5px solid #3d70b2;
  h3 {
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 35px;
  }
  .btn-primary {
    background: #3d70b2;
    border-radius: 0;
    font-size: 14px;
    line-height: 18px;
  }
  select {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    font-size: 14px;
    line-height: 18px;
    color: #5a6872;
    font-weight: normal;
    margin-top: 20px;
    background: url(../../../assets/Images/assessment/svg/select-arrow.svg) 92%
      center no-repeat;
    appearance: none;
    cursor: pointer;
    padding-right: 23px;
    min-width: 113px;
    background-color: rgba(61, 112, 178, 0.1);
    height: 40px;
    &:focus {
      background-color: rgba(61, 112, 178, 0.1);
    }
  }
}
.modal-content {
  border-radius: 0;
  border: none;
}
.custom-modal-body {
  border-top: 5px solid #3d70b2;
  &.error {
    border-top: 5px solid #e71d32;
  }

  h3 {
    font-weight: 300;
    font-size: 28px;
    line-height: 35px;
    color: #48555f;
    margin-bottom: 1rem;
  }
  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #152935;
  }

  .close-btn {
    position: absolute;
    top: 23px;
    right: 14px;
  }
  .activemodal {
    fill: black;
  }
  .modal-progressbar {
    .progress {
      border-radius: 50rem;
      .progress-bar {
        background-color: #3d70b2;
        border-radius: 50rem;
      }
    }
  }
  .btn-danger {
    background-color: #e71d32;
    border-radius: 0;
    padding: 10px 51px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }

  .step-dot-section {
    width: calc(100% - 228px);
    display: block;
    margin-left: auto;
    margin-top: 10px;
    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
    }
    .steps-dot {
      height: 10px;
      width: 10px;
      display: inline-block;
      margin-left: 8px;
      background-color: #d0d4d7;
      border-radius: 50%;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }
      &.active {
        background-color: #152935;
      }
    }
  }
  .form-group {
    .form-check {
      margin-bottom: 0.3rem;
      color: #152935;
      font-size: 14px;
    }
  }
}

.custom-modal-footer {
  background: #f0f3f6;
  border: none;
  .btn-primary {
    background: #3d70b2;
    border-radius: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    padding: 14px 24px;
    &:hover,
    &:focus,
    &:active {
      background-color: #376096;
      border-color: #376096;
    }
  }
  .btn-secondary {
    background: none;
    border: 2px solid #3d70b2;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #3d70b2;
    text-align: center;
    box-sizing: border-box;
    padding: 13px 22px;
    border-radius: 0;
    margin-right: 20px;
    &:hover,
    &:focus,
    &:active {
      border-color: #376096;
    }
  }
  .skip-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #3d70b2;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: #376096;
    }
  }
  p {
    color: #3d70b2;
  }
}
.modal-content-section {
  @media (max-width: 767px) {
    flex-direction: column;
    h3,
    p {
      text-align: center;
    }
  }
}
.custom-stp-modal {
  @media (min-width: 768px) {
    .modal-dialog {
      max-width: 718px;
    }
  }
}

.custom-stp-modal-error {
  .custom-modal-body{
    p{
      font-weight: normal;
      font-size: 24px;
      line-height: 20px;
      color: #152935;
    }
  } 
  
  @media (min-width: 768px) {
    .modal-dialog {
      max-width: 500px;
    }
  }
}

.alerts-modal {
  color: #e71d32;
  .btn-secondary {
    color: #e71d32;
    border-color: #e71d32;
    &:hover,
    &:focus,
    &:active {
      border-color: #e71d32;
      background-color: #fff;
    }
  }
  .btn-primary {
    background-color: #e71d32;
    border-color: #e71d32;
    color: #fff;
    border-width: 2px;
    &:hover,
    &:focus,
    &:active {
      background-color: #fff;
      color: #e71d32;
      border-color: #e71d32;
    }
  }
  .skip-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #e71d32;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: #e71d32;
    }
  }
  p {
    color: #e71d32;
  }
}

// inventory modal custom css
.inventory-modal{
  .modal-body{
    padding: 0;
  }
} 