
* {
  scrollbar-width: thin;
  scrollbar-color: #b3b3b3 #ddd;
}

@mixin customscroll {

  &::-webkit-scrollbar {
      width        : 4px;
      border-radius: 50px;
  }

   /* Handle */
  &::-webkit-scrollbar-thumb {
      background   : #b3b3b3;
      border-radius: 50px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
      background   : #ddd;
      border-radius: 50px;
  }
}






#sidemenu {
  min-width   : 220px;
  transition  : all 0.2s ease-in-out 0s;


  .innerdiv{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    /* width: 100%; */
    max-width: 219px;
    background-color: #fff;
    border-right: 1px solid #dfe3e6;
  }

  .arrowside {
    background-color: #ecf1f7;
    padding: 0.6rem 1rem;
    margin-bottom: 0.7rem;

    img {
      transform: rotate(180deg);
      transition: all 0.3s ease-in-out 0s;
    }
  }

  .logopart {
    padding: 1.25rem 1rem;
    text-align: center;

    h5 {
      color: #3d70b2;
      font-weight: 700;
      font-size: 23px;
      margin-left: 11px;
      letter-spacing: 1px;
    }
  }

  nav {
    height: calc(100vh - 118px);
    overflow-x: hidden;
    width: 100%;
    @include customscroll();

    background-color: #fff;

    // position    : fixed;
    overflow-y  : auto;
    min-width   : 218px;
    // width: 74px;
    z-index: 99;
    transition: max-width 0.2s ease;
    transition: min-width 0.2s ease;
    .nav-item {
      .nav-link {
        color: #3f4952;
        font-size: 15px;
        padding: 1rem 1rem;
        border-left: transparent solid 4px;
        transition: all 0.3s ease-in-out 0s;
        line-height: normal;
        img {
          vertical-align: middle;
        }

        .label {
          margin-left: 0.8rem;
          vertical-align: middle;

          &.light {
            color: #c4c4c4;
          }
        }

        &:hover {
          background: #f0f3f6;
          border-left: #3d70b2 solid 4px;
          color: #000;
        }

        &.active {
          background: #f0f3f6;
          border-left: #3d70b2 solid 4px;
          color: #3d70b2;
          font-weight: 600;
        }
      }
    }
  }

  &.smallbar {
    min-width: 75px;
   width: 75px;
    .logopart {
      h5 {
        display: none;
      }
    }

    .arrowside {
      text-align: center !important;
      img {
        transform: rotate(0);
      }
    }

    .sidebar {
      min-width: 74px;
      width: 74px;
      transition: max-width 0.2s ease;
      transition: min-width 0.2s ease;
      .nav-item {
        a {
          text-align: center;
          .label {
            display: none;
          }
        }
      }
    }
  }
}
